.project-info {
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: -50px;
}

.project-title {
    font-weight: 500;
    font-size: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
}

.lighter {
    font-size: 0.9em;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*DELETE THIS TWO LINE*/
.delete img {
    object-fit: cover;
    width: 100%;
    height: 170px;
    border-radius: 15px;
    border: 3px solid red;
}

.card-img div {
    width: 90%;
}

.carta {
    background-image: radial-gradient(at 16.55517007422742% 86.36161345236485%, hsla(19.44827586206896, 94.77124183006538%, 70%, 1) 0%, hsla(19.44827586206896, 94.77124183006538%, 70%, 0) 100%), radial-gradient(at 60.17801230338997% 4.165782583746946%, hsla(177.2151898734177, 100%, 46.470588235294116%, 1) 0%, hsla(177.2151898734177, 100%, 46.470588235294116%, 0) 100%), radial-gradient(at 30.34508347224326% 27.61902385477908%, hsla(289.2413793103448, 94.77124183006538%, 70%, 1) 0%, hsla(289.2413793103448, 94.77124183006538%, 70%, 0) 100%), radial-gradient(at 37.12204590816036% 21.441517614802397%, hsla(19.44827586206896, 94.77124183006538%, 70%, 1) 0%, hsla(19.44827586206896, 94.77124183006538%, 70%, 0) 100%), radial-gradient(at 85.02836696749317% 74.27238538085102%, hsla(177.2151898734177, 100%, 46.470588235294116%, 1) 0%, hsla(177.2151898734177, 100%, 46.470588235294116%, 0) 100%), radial-gradient(at 15.989697997285667% 36.97122790793186%, hsla(289.2413793103448, 94.77124183006538%, 70%, 1) 0%, hsla(289.2413793103448, 94.77124183006538%, 70%, 0) 100%), radial-gradient(at 26.468344071642992% 73.05836481602347%, hsla(19.44827586206896, 94.77124183006538%, 70%, 1) 0%, hsla(19.44827586206896, 94.77124183006538%, 70%, 0) 100%), radial-gradient(at 38.31735439377712% 34.699467335700454%, hsla(177.2151898734177, 100%, 46.470588235294116%, 1) 0%, hsla(177.2151898734177, 100%, 46.470588235294116%, 0) 100%), radial-gradient(at 95.43948788973034% 80.68820235236073%, hsla(289.2413793103448, 94.77124183006538%, 70%, 1) 0%, hsla(289.2413793103448, 94.77124183006538%, 70%, 0) 100%), radial-gradient(at 10.916074025081556% 63.50131311377751%, hsla(19.44827586206896, 94.77124183006538%, 70%, 1) 0%, hsla(19.44827586206896, 94.77124183006538%, 70%, 0) 100%);
    color: black;
    width: 400px;
    height: 430px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 6px -15px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 20px;
}

.card-img {
    position: relative;
    top: -20px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.card-img a,
.card-img div {
    height: 150px;
    width: 90%;
    /* Change this width here to change the width of the color/image */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-imgs {
    transition: all 0.5s;
}

h1 {
    margin-bottom: 40px;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

@media (max-width: 600px) {
    .servi {
        width: 100%;
    }
}