/* Resetear estilos */
*{
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para ocupar siempre todo el alto del pantalla */
html, body{
    height: 100%;
    min-height: 10vh;
}

body{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    flex: 1; /* Hace que el main ocupe todo el alto disponible entre el header y el footer */
}

header{
    background-color: cadetblue;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    font-size: 2.2vw;
    font-weight: bold;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
    color: wheat;
}

.hamburguesa{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.hamburguesa span{
    background: black;
    height: 3px;
    width: 25px;
    margin: 3px;
}

/* Estilos para el main */
main{
    max-width: 1100px;
    margin: 30px auto;
    padding: 20px;
}

section{
    background-color: wheat;
    padding: 20px;
    border-radius: 10px;
}

footer{
    background-color: cadetblue;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

@media (max-width: 600px) {
    nav ul{
        display: none;
        flex-direction: column;
        background-color: cadetblue;
        position: absolute;
        top: 10px;
        right: 50px;
        width: 100px;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }
    .hamburguesa{
        display: flex;
    }
    nav ul.verMenu{
        display: flex;
    }
    nav .logo{
        font-size: 7vw;
        color: wheat;
    }
}